.div {
    background-color: black;
    font-size: 100px ;
    color: lightgrey;
    text-align: center;
}
h1{ 
    background-color:aliceblue;
    color:blueviolet;
    border: 5px solid blueviolet;
}   
h2{
    background-color:hsl(155 20% 50%);
    color: rgba(255, 255, 0, 1);
    border: 5px solid yellowgreen;
}
h3{
    background-color: azure;
    color: black;
    border: 5px solid black;
}
h4{
    background-color: bisque;
    color: violet;
    border: 5px solid violet;
}
h5{
    background-color: blanchedalmond;
    color: brown;
    border: 3px solid brown;
}
h6{
    background-color: beige;
    color: hsl(213 50% 10%);
    border: 2px solid hsl(213 50% 10%);
}

#paragraph{
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    font-size: 1.875em;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    background-color: rgba(88, 50, 87, 0.705);
    color: white;
    border: 5px;
    border-style: ridge;
    border-radius: 10px;
    border-color:rgba(223, 34, 213, 0.11);

}

/* styling the link */
a{
    color: whitesmoke;
    background-color:black;
    font-size:18px;
    text-decoration:none;
}

a:hover{
    color: lightblue;
    text-decoration:underline;
    background-color: rgba(139,0,0,0.5);
}

a:visited{
    color:red;
    text-decoration:none;
}

a:active{
    color: green;
    text-decoration:line-through;
}

/* Inserting Background image */
body {
        background-image: url("gas blue flame from gas cooker.jpg");
        background-size:contain;
        background-repeat: repeat;
        background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent overlay */
        background-blend-mode: color-burn; /* Choose the blending mode you prefer */
}

img{
    border: 10px;
    border-style: ridge;
    border-radius: 0px 50px 0px 20px;
    border-color:black;
}

ul, ol {
    padding-left: 50px;
}

li{
    font-family: Arial, sans-seriff;
    font-size: 20px;
    color: #20021e;
    margin-bottom: 10px; /* gives space between the bottom of the previous item and the top of the next item */
}

li:hover{
    color:#751605e1;
    cursor:copy;
    text-decoration: underline;
    transform: scale(1.5); /* has an interesting effect */
}

.squarelist{
    list-style-type: square;
    padding-left: 30px;
}

ul{
    column-count: 4;
    column-gap: 10px;
}

li{
    position: relative;
    padding-left: 20px;
    transition: all 0.5s ease-in-out; /* wow it like start with the previous color and changes into the hover color */
}

li::before{
    content: "\2713"; /* a checkmark symbol */
    position: absolute;
    left: 0;
    font-size: 20px;
    color: #ff4500;
    transition: transform 0.5s ease;
}

li:hover::before{
    transform: scale(2.0);
}

form{
    background-color: rgba(255, 255, 255, 0.9);
    height: 250px;
    width: 20%;
    display: block;
    margin-bottom: 20px;
    padding: 30px;
}